<!-- Added a loader image for when data is not yet loaded -->
<div *ngIf="postDetails == ''" class="center">
  <img src="assets\Loading_icon.gif" width="100px" />
</div>

<div class="center">
  <div class="card border mb-3">
    <div class="previous" (click)="backToPosts()">
        <img src="assets/back.png" alt="" width="40px" height="40px">
    </div>
    <div class="card-header">
      <div class="post-avatar">
        <img src="assets/user.png" alt="" />

        <!-- Binding the post details object using data binding   -->
        <span class="post-fullname">[postID: {{ postDetails.id }}]</span>
        <span class="post-username"> @userID: {{ postDetails.userId }}</span>
      </div>
    </div>
    <div class="card-body" style="padding: unset; cursor: pointer">
      <div class="post">
        <img src="https://via.placeholder.com/600/8985dc" alt="" />
      </div>
    </div>
    <div class="card-footer">
      <div class="post-action-list">
        <img src="assets/heart.png" alt="" />
        <img src="assets/comment.png" alt="" />
        <img src="assets/share.png" alt="" />
      </div>
      <p class="card-text"><small class="text-muted">comments</small></p>
      <div class="comments">
        <!-- Binding comments array here using Ngfor  -->
        <div class="pl-1 pb-1" *ngFor="let object of PostComments">
          <div class="post-avatar">
            <img src="assets/user.png" alt="" />
            <span class="post-username"> @userID: {{ object.name }}</span>
          </div>
          <div class="comment-texts">
            {{ object.body }}
          </div>
        </div>
      </div>
      <p class="card-text"><small class="text-muted" (click)="activebuttonData == 'Comments'?activeButton('AllComments'):activeButton('Comments')">{{activebuttonData == 'Comments'?'Load More comments':'Show less comments'}}</small></p>
    </div>
  </div>
</div>
