<!-- Added a loader image for when data is not yet loaded -->
<div *ngIf="!posts.length" class="center">
    <img src="assets\Loading_icon.gif" width="100px"/>
</div>

<div class="center">
    <div class="card border mb-3" *ngFor="let object of posts">
        <div class="card-header">
            <div class="post-avatar">
                <img src="assets/user.png" alt="">
                <span class="post-fullname">[postID: {{object.id}}]</span> 
                <span class="post-username"> @userID: {{object.userId}}</span>
            </div>
        </div>
        <div class="card-body" style="padding: unset;cursor:pointer">
          <div class="post" (click)="showPostDetails(object.id)">
            <img src="https://via.placeholder.com/600/8985dc" alt="">
          </div>
          <div class="post-action-list">
            <img src="assets/heart.png" alt="">
            <img src="assets/comment.png" alt="">
            <img src="assets/share.png" alt="">
          </div>
          <p class="card-text"><small class="text-muted">View all comments</small></p>
        </div>
      </div>    
</div>